[submodule "services/backend"]
	path = services/backend
	url = https://github.com/HackAlfa/Backend
[submodule "services/frontend"]
	path = services/frontend
	url = https://github.com/HackAlfa/Frontend
[submodule "services/ml"]
	path = services/ml
	url = https://github.com/HackAlfa/PythonMachine
